@font-face {
  font-family: "Gotham";
  src: local("Gotham"),
    url(../src/assets/fonts/Gotham-Bold.otf) format("truetype");
}
@font-face {
  font-family: "Gotham-Light";
  src: local("Gotham-Light"),
    url(../src/assets/fonts/Gotham-Light.otf) format("truetype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}
